.aboutus-rectangle-5-div {
  position: absolute;
  top: 3191px;
  left: 0;
  background-color: var(--color-black);
  width: 1440px;
  height: 226px;
}
.about-span {
  font-weight: 500;
}
.span5 {
  font-size: var(--font-size-6xl);
}
.us-span {
  font-weight: 600;
}
.aboutus-about-us-div,
.aboutus-offices-div,
.aboutus-teams-div {
  position: absolute;
  top: 143px;
  left: 100px;
  color: var(--color-blue-200);
  display: inline-block;
  font-size: var(--font-size-3xl);
}
.aboutus-offices-div,
.aboutus-teams-div {
  top: 763px;
  font-weight: 500;
}
.aboutus-offices-div {
  top: 1244px;
  left: 105px;
}
.aboutus-process-manager-div {
  position: absolute;
  top: 1127px;
  left: 134px;
  display: inline-block;
  width: 228px;
}
.aboutus-marketing-head-div,
.aboutus-technical-head-div,
.aboutus-technical-head1-div {
  position: absolute;
  top: 1127px;
  left: 466px;
  display: inline-block;
  width: 228px;
}
.aboutus-marketing-head-div,
.aboutus-technical-head-div {
  left: 784px;
}
.aboutus-technical-head-div {
  left: 1117px;
}
.aboutus-thanks-for-your-intere {
  position: absolute;
  top: 261px;
  left: 100px;
  line-height: 50px;
  font-weight: 300;
  text-align: justify;
  display: flex;
  align-items: flex-end;
  width: 480px;
}
.aboutus-rectangle-26-icon,
.aboutus-rectangle-27-icon,
.aboutus-rectangle-28-icon {
  position: absolute;
  top: 880px;
  left: 427px;
  border-radius: var(--br-xl);
  width: 264px;
  height: 238px;
  object-fit: cover;
}
.aboutus-rectangle-27-icon,
.aboutus-rectangle-28-icon {
  left: 752px;
}
.aboutus-rectangle-28-icon {
  left: 1077px;
}
.aboutus-image-6-icon,
.aboutus-image-7-icon {
  position: absolute;
  top: 205px;
  left: 664px;
  width: 695px;
  height: 529px;
  object-fit: cover;
}
.aboutus-image-7-icon {
  top: 1334px;
  left: 100px;
  border-radius: var(--br-md);
  width: 1243px;
  height: 497px;
}
.aboutus-man-1-icon,
.washaholic-logo-icon14 {
  position: absolute;
  top: 904px;
  left: 126px;
  width: 200px;
  height: 195.97px;
  object-fit: cover;
}
.washaholic-logo-icon14 {
  top: 25px;
  left: 45px;
  width: 88px;
  height: 102px;
}
.about-us-div15,
.home-div14 {
  position: relative;
  display: inline-block;
}
.home-div14 {
  color: var(--color-blue-100);
}
.about-us-div15 {
  cursor: pointer;
}
.navbar-frame-div14 {
  position: absolute;
  top: 61px;
  left: 502px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.login-div15,
.washaholic-div14 {
  position: absolute;
  display: inline-block;
}
.washaholic-div14 {
  top: 38px;
  left: 133px;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.1em;
  line-height: 70px;
  font-family: var(--font-inria-serif);
  color: var(--color-blue-200);
}
.login-div15 {
  top: 9px;
  left: 43px;
  font-weight: 600;
}
.header-login-button-div14 {
  position: absolute;
  top: 52px;
  left: 1233px;
  border-radius: var(--br-3xl);
  background-color: var(--color-blue-100);
  width: 153px;
  height: 48px;
  overflow: hidden;
  cursor: pointer;
  color: var(--color-white);
}
.footer-email-rectangle-15-div3,
.header-div14 {
  position: absolute;
  background-color: var(--color-white);
}
.header-div14 {
  top: 0;
  left: 11px;
  width: 1440px;
  height: 151px;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.footer-email-rectangle-15-div3 {
  top: 232px;
  left: 111px;
  border-radius: var(--br-sm);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 504px;
  height: 56px;
}
.footer-your-email-address3 {
  position: absolute;
  top: 249px;
  left: 163px;
  color: var(--color-black);
  display: inline-block;
  opacity: 0.56;
}
.footer-mail-icbaseline-mail-icon3 {
  position: absolute;
  top: 248px;
  left: 130px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.footer-subscribe-rectangle-16-div3 {
  position: absolute;
  top: 240px;
  left: 505px;
  border-radius: var(--br-2xs);
  background-color: var(--color-blue-100);
  width: 100px;
  height: 40px;
}
.footer-subscribe-div6 {
  position: absolute;
  top: 249px;
  left: 521px;
  text-align: center;
  display: inline-block;
}
.footer-background-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 416px;
}
.footer-get-in-touch3 {
  position: absolute;
  top: 69px;
  left: 111px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  display: inline-block;
}
.footer-resources-b3,
.footer-services-b3,
.footer-support-b3 {
  position: absolute;
  top: 78px;
  left: 731px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.08em;
  display: inline-block;
}
.footer-resources-b3,
.footer-support-b3 {
  left: 938px;
}
.footer-support-b3 {
  left: 1146px;
}
.footer-we-provide-the-best-onl3 {
  position: absolute;
  top: 155px;
  left: 111px;
  font-size: var(--font-size-4xs);
  display: inline-block;
  width: 507px;
}
.washing-p3 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.special-wash3 {
  margin: 0;
}
.footer-contact-privacy-terms-o3,
.footer-services-contact-us-abo3,
.footer-washing-ironing-shoes-c3 {
  position: absolute;
  top: 123px;
  left: 731px;
  font-size: var(--font-size-7xs);
  line-height: 24px;
  color: var(--color-gray-500);
  display: inline-block;
  width: 166px;
}
.footer-contact-privacy-terms-o3,
.footer-services-contact-us-abo3 {
  left: 936px;
}
.footer-contact-privacy-terms-o3 {
  left: 1144px;
}
.footer-2022-laundry-designe3 {
  position: absolute;
  top: 381px;
  left: 111px;
  font-size: var(--font-size-8xs);
  color: var(--color-gray-1300);
  display: inline-block;
}
.footer-socials-fb-frame-icon3,
.footer-socials-twt-frame-icon3 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.footer-socials-twt-frame-icon3 {
  height: 20px;
}
.footer-frame-9-div3 {
  position: absolute;
  top: 378px;
  left: 1110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}
.footer-horizontal-line-div3 {
  position: absolute;
  top: 351.5px;
  left: 110.5px;
  border-top: 1px solid var(--color-gray-1400);
  box-sizing: border-box;
  width: 1200px;
  height: 1px;
}
.footer-vertical-line-div3 {
  position: absolute;
  top: 79.5px;
  left: 690.5px;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 209px;
}
.footer-subscribe-div7 {
  position: absolute;
  top: 249px;
  left: 522px;
  text-align: center;
  display: inline-block;
}
.about-us-div14,
.footer-div3 {
  background-color: var(--color-white);
  overflow: hidden;
}
.footer-div3 {
  position: absolute;
  top: 1900px;
  left: 2px;
  width: 1440px;
  height: 416px;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
  font-family: var(--font-heebo);
}
.about-us-div14 {
  position: relative;
  width: 100%;
  height: 2317px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
