.offers-rectangle-10-div {
  position: absolute;
  top: 330px;
  left: 58px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-1000);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1319px;
  height: 122px;
}
.offers-coupons-div,
.offers-your-offers-div {
  position: absolute;
  top: 138px;
  left: 80px;
  font-size: var(--font-size-2xl);
  line-height: 110px;
  font-weight: 600;
  color: var(--color-blue-100);
  display: inline-block;
}
.offers-coupons-div {
  top: 220px;
  left: 146px;
  font-size: var(--font-size-sm);
  color: var(--color-blue-200);
}
.offers-line-5-icon {
  position: absolute;
  top: 305px;
  left: 62px;
  width: 1319px;
  height: 6px;
}
.offers-clothes-rail-with-t-shi-icon {
  position: absolute;
  top: 343px;
  left: 96px;
  border-radius: var(--br-xs);
  width: 100px;
  height: 96px;
  object-fit: cover;
}
.offers-only-today-for-new-user,
.offers-special-25-off {
  position: absolute;
  top: 343px;
  left: 218px;
  font-weight: 600;
  display: inline-block;
  width: 188px;
  height: 33px;
}
.offers-only-today-for-new-user {
  top: 366px;
  font-size: var(--font-size-6xs);
  font-weight: 300;
}
.offers-rectangle-11-div {
  position: absolute;
  top: 399px;
  left: 221px;
  border-radius: var(--br-3xs);
  background-color: var(--color-blue-100);
  width: 56px;
  height: 26px;
}
.offers-use2-div {
  position: absolute;
  top: 403px;
  left: 233px;
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 133px;
  height: 33px;
}
.offers-rectangle-12-div {
  position: absolute;
  top: 483px;
  left: 62px;
  border-radius: var(--br-md);
  background-color: var(--color-blue-400);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1319px;
  height: 122px;
}
.offers-clothes-rail-with-t-shi-icon1 {
  position: absolute;
  top: 496px;
  left: 100px;
  border-radius: var(--br-xs);
  width: 100px;
  height: 96px;
  object-fit: cover;
}
.offers-on-1-year-subscription,
.offers-special-50-off {
  position: absolute;
  top: 496px;
  left: 222px;
  font-weight: 600;
  display: inline-block;
  width: 188px;
  height: 33px;
}
.offers-on-1-year-subscription {
  top: 519px;
  font-size: var(--font-size-6xs);
  font-weight: 300;
}
.offers-rectangle-13-div {
  position: absolute;
  top: 552px;
  left: 225px;
  border-radius: var(--br-3xs);
  background-color: var(--color-blue-100);
  width: 57px;
  height: 26px;
}
.offers-use1-div {
  position: absolute;
  top: 556px;
  left: 237px;
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 133px;
  height: 33px;
}
.offers-rectangle-14-div {
  position: absolute;
  top: 636px;
  left: 58px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-1000);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1319px;
  height: 122px;
}
.offers-clothes-rail-with-t-shi-icon2 {
  position: absolute;
  top: 649px;
  left: 96px;
  border-radius: var(--br-xs);
  width: 100px;
  height: 96px;
  object-fit: cover;
}
.offers-on-amount-of-500,
.offers-special-15-off {
  position: absolute;
  top: 649px;
  left: 218px;
  font-weight: 600;
  display: inline-block;
  width: 188px;
  height: 33px;
}
.offers-on-amount-of-500 {
  top: 672px;
  font-size: var(--font-size-6xs);
  font-weight: 300;
}
.offers-rectangle-15-div {
  position: absolute;
  top: 705px;
  left: 221px;
  border-radius: var(--br-3xs);
  background-color: var(--color-blue-100);
  width: 104px;
  height: 26px;
}
.offers-upcoming-div {
  position: absolute;
  top: 709px;
  left: 233px;
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 133px;
  height: 33px;
}
.offers-download-1-icon {
  position: absolute;
  top: 496px;
  left: 100px;
  border-radius: var(--br-xs);
  width: 100px;
  height: 97px;
  object-fit: cover;
}
.offers-rectangle-16-div {
  position: absolute;
  top: 781px;
  left: 58px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-1000);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1319px;
  height: 122px;
}
.offers-clothes-rail-with-t-shi-icon3 {
  position: absolute;
  top: 794px;
  left: 96px;
  border-radius: var(--br-xs);
  width: 100px;
  height: 96px;
  object-fit: cover;
}
.offers-on-amount-of-5001,
.offers-special-15-off1 {
  position: absolute;
  top: 794px;
  left: 218px;
  font-weight: 600;
  display: inline-block;
  width: 188px;
  height: 33px;
}
.offers-on-amount-of-5001 {
  top: 817px;
  font-size: var(--font-size-6xs);
  font-weight: 300;
}
.offers-rectangle-17-div {
  position: absolute;
  top: 850px;
  left: 221px;
  border-radius: var(--br-3xs);
  background-color: var(--color-blue-100);
  width: 104px;
  height: 26px;
}
.offers-upcoming-div1 {
  position: absolute;
  top: 854px;
  left: 233px;
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 133px;
  height: 33px;
}
.offers-download-1-2 {
  position: absolute;
  top: 795px;
  left: 96px;
  border-radius: var(--br-xs);
  width: 100px;
  height: 96px;
  object-fit: cover;
}
.washaholic-logo-icon8 {
  position: absolute;
  top: 25px;
  left: 45px;
  width: 88px;
  height: 102px;
  object-fit: cover;
}
.about-us-div8,
.home-div8 {
  position: relative;
  display: inline-block;
}
.home-div8 {
  color: var(--color-blue-100);
}
.about-us-div8 {
  cursor: pointer;
}
.navbar-frame-div8 {
  position: absolute;
  top: 61px;
  left: 502px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.login-div8,
.washaholic-div8 {
  position: absolute;
  display: inline-block;
}
.washaholic-div8 {
  top: 38px;
  left: 133px;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.1em;
  line-height: 70px;
  font-family: var(--font-inria-serif);
  color: var(--color-blue-200);
}
.login-div8 {
  top: 9px;
  left: 43px;
  font-weight: 600;
}
.header-login-button-div8 {
  position: absolute;
  top: 52px;
  left: 1233px;
  border-radius: var(--br-3xl);
  background-color: var(--color-blue-100);
  width: 153px;
  height: 48px;
  overflow: hidden;
  cursor: pointer;
  color: var(--color-white);
}
.header-div8,
.offers-div {
  background-color: var(--color-white);
  overflow: hidden;
}
.header-div8 {
  position: absolute;
  top: 0;
  left: 11px;
  width: 1440px;
  height: 151px;
  font-size: var(--font-size-base);
}
.offers-div {
  position: relative;
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-4xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
