.services-services-div {
  position: absolute;
  top: 156px;
  left: 107px;
  font-size: var(--font-size-4xl);
  line-height: 110px;
  font-weight: 600;
  color: var(--color-blue-200);
  display: inline-block;
  width: 385px;
  height: 131px;
}
.services-wash1-div {
  position: absolute;
  top: 451px;
  left: 225px;
  font-weight: 500;
  display: inline-block;
}
.services-combo-div,
.services-shoes-wash-div,
.services-special-combo-div,
.services-wash-div {
  position: absolute;
  top: 685px;
  left: 1096px;
  font-weight: 500;
  display: inline-block;
}
.services-combo-div,
.services-shoes-wash-div,
.services-wash-div {
  left: 225px;
}
.services-combo-div,
.services-shoes-wash-div {
  top: 689px;
  left: 831px;
}
.services-shoes-wash-div {
  left: 514px;
}
.services-dry-cleaning-div,
.services-ironing-div,
.services-special-wash-div {
  position: absolute;
  top: 456px;
  left: 1107px;
  font-weight: 500;
  display: inline-block;
}
.services-ironing-div,
.services-special-wash-div {
  top: 451px;
  left: 840px;
}
.services-special-wash-div {
  left: 500px;
}
.services-ellipse-1-icon,
.services-ellipse-2-icon {
  position: absolute;
  top: 258px;
  left: 162px;
  width: 188px;
  height: 188px;
}
.services-ellipse-2-icon {
  left: 464px;
}
.services-laundry-machine-1-icon {
  position: absolute;
  top: 308px;
  left: 500px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.services-ellipse-3-icon,
.services-ellipse-4-icon,
.services-ellipse-5-icon {
  position: absolute;
  top: 258px;
  left: 772px;
  width: 188px;
  height: 188px;
}
.services-ellipse-4-icon,
.services-ellipse-5-icon {
  left: 1074px;
}
.services-ellipse-5-icon {
  top: 487px;
  left: 163px;
}
.services-ellipse-6-icon,
.services-ellipse-7-icon,
.services-ellipse-8-icon {
  position: absolute;
  top: 487px;
  left: 465px;
  width: 188px;
  height: 188px;
}
.services-ellipse-7-icon,
.services-ellipse-8-icon {
  left: 772px;
}
.services-ellipse-8-icon {
  left: 1075px;
}
.services-laundry-basket-1-icon,
.services-washing-machine-2-icon {
  position: absolute;
  top: 536px;
  left: 823px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.services-laundry-basket-1-icon {
  top: 298px;
  left: 207px;
}
.services-dry-cleaning-2-icon,
.services-ironing-1-icon,
.services-shoes-1-icon {
  position: absolute;
  top: 298px;
  left: 816px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.services-dry-cleaning-2-icon,
.services-shoes-1-icon {
  top: 539px;
  left: 507px;
}
.services-dry-cleaning-2-icon {
  top: 298px;
  left: 1119px;
}
.services-see-all-div {
  position: absolute;
  top: 767px;
  left: 1153px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-blue-200);
  display: inline-block;
  cursor: pointer;
}
.services-stiching-1-icon {
  position: absolute;
  top: 530px;
  left: 206px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.services-special-tag-1-icon,
.washaholic-logo-icon11 {
  position: absolute;
  top: 536px;
  left: 1118px;
  width: 100px;
  height: 103.39px;
  object-fit: cover;
}
.washaholic-logo-icon11 {
  top: 25px;
  left: 45px;
  width: 88px;
  height: 102px;
}
.about-us-div11,
.home-div11 {
  position: relative;
  display: inline-block;
}
.home-div11 {
  color: var(--color-blue-100);
}
.about-us-div11 {
  cursor: pointer;
}
.navbar-frame-div11 {
  position: absolute;
  top: 61px;
  left: 502px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.login-div11,
.washaholic-div11 {
  position: absolute;
  display: inline-block;
}
.washaholic-div11 {
  top: 38px;
  left: 133px;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.1em;
  line-height: 70px;
  font-family: var(--font-inria-serif);
  color: var(--color-blue-200);
}
.login-div11 {
  top: 9px;
  left: 43px;
  font-weight: 600;
}
.header-login-button-div11 {
  position: absolute;
  top: 52px;
  left: 1233px;
  border-radius: var(--br-3xl);
  background-color: var(--color-blue-100);
  width: 153px;
  height: 48px;
  overflow: hidden;
  cursor: pointer;
  color: var(--color-white);
}
.footer-email-rectangle-15-div2,
.header-div11 {
  position: absolute;
  background-color: var(--color-white);
}
.header-div11 {
  top: 0;
  left: 11px;
  width: 1440px;
  height: 151px;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.footer-email-rectangle-15-div2 {
  top: 232px;
  left: 111px;
  border-radius: var(--br-sm);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 504px;
  height: 56px;
}
.footer-your-email-address2 {
  position: absolute;
  top: 249px;
  left: 163px;
  color: var(--color-black);
  display: inline-block;
  opacity: 0.56;
}
.footer-mail-icbaseline-mail-icon2 {
  position: absolute;
  top: 248px;
  left: 130px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.footer-subscribe-rectangle-16-div2 {
  position: absolute;
  top: 240px;
  left: 505px;
  border-radius: var(--br-2xs);
  background-color: var(--color-blue-100);
  width: 100px;
  height: 40px;
}
.footer-subscribe-div4 {
  position: absolute;
  top: 249px;
  left: 521px;
  text-align: center;
  display: inline-block;
}
.footer-background-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 416px;
}
.footer-get-in-touch2 {
  position: absolute;
  top: 69px;
  left: 111px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  display: inline-block;
}
.footer-resources-b2,
.footer-services-b2,
.footer-support-b2 {
  position: absolute;
  top: 78px;
  left: 731px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.08em;
  display: inline-block;
}
.footer-resources-b2,
.footer-support-b2 {
  left: 938px;
}
.footer-support-b2 {
  left: 1146px;
}
.footer-we-provide-the-best-onl2 {
  position: absolute;
  top: 155px;
  left: 111px;
  font-size: var(--font-size-4xs);
  display: inline-block;
  width: 507px;
}
.washing-p2 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.special-wash2 {
  margin: 0;
}
.footer-contact-privacy-terms-o2,
.footer-services-contact-us-abo2,
.footer-washing-ironing-shoes-c2 {
  position: absolute;
  top: 123px;
  left: 731px;
  font-size: var(--font-size-7xs);
  line-height: 24px;
  color: var(--color-gray-500);
  display: inline-block;
  width: 166px;
}
.footer-contact-privacy-terms-o2,
.footer-services-contact-us-abo2 {
  left: 936px;
}
.footer-contact-privacy-terms-o2 {
  left: 1144px;
}
.footer-2022-laundry-designe2 {
  position: absolute;
  top: 381px;
  left: 111px;
  font-size: var(--font-size-8xs);
  color: var(--color-gray-1300);
  display: inline-block;
}
.footer-socials-fb-frame-icon2,
.footer-socials-twt-frame-icon2 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.footer-socials-twt-frame-icon2 {
  height: 20px;
}
.footer-frame-9-div2 {
  position: absolute;
  top: 378px;
  left: 1110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}
.footer-horizontal-line-div2 {
  position: absolute;
  top: 351.5px;
  left: 110.5px;
  border-top: 1px solid var(--color-gray-1400);
  box-sizing: border-box;
  width: 1200px;
  height: 1px;
}
.footer-vertical-line-div2 {
  position: absolute;
  top: 79.5px;
  left: 690.5px;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 209px;
}
.footer-subscribe-div5 {
  position: absolute;
  top: 249px;
  left: 522px;
  text-align: center;
  display: inline-block;
}
.footer-div2,
.services-div11 {
  background-color: var(--color-white);
  overflow: hidden;
}
.footer-div2 {
  position: absolute;
  top: 861px;
  left: 0;
  width: 1440px;
  height: 416px;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
  font-family: var(--font-heebo);
}
.services-div11 {
  position: relative;
  width: 100%;
  height: 1276px;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
