.signup-button-create-account-div,
.signup-buttoncreate-account-div {
  position: absolute;
  top: 51px;
  left: 160px;
  display: inline-block;
}
.signup-buttoncreate-account-div {
  top: 9px;
  left: 165px;
}
.signup-button-div {
  position: absolute;
  top: 1034px;
  left: 485px;
  border-radius: var(--br-3xl);
  background-color: var(--color-blue-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 514px;
  height: 48px;
  overflow: hidden;
  cursor: pointer;
  color: var(--color-white);
}
.signup-360-f-339709048-zitr4wr-icon {
  position: absolute;
  top: 29px;
  left: 479px;
  width: 527px;
  height: 350px;
  object-fit: cover;
}
.signup-rectangle-1-div,
.signup-rectangle-2-div,
.signup-rectangle-6-div {
  position: absolute;
  top: calc(50% - 24.5px);
  left: 492px;
  border-radius: var(--br-md);
  background-color: var(--color-blue-300);
  width: 514px;
  height: 67px;
}
.signup-rectangle-2-div,
.signup-rectangle-6-div {
  top: calc(50% - -182.5px);
  background-color: var(--color-gray-300);
}
.signup-rectangle-6-div {
  top: calc(50% - -287.5px);
}
.signup-confirm-password-div,
.signup-email-div,
.signup-password-div,
.signup-signup-div {
  position: absolute;
  top: 636px;
  left: 523px;
  display: inline-block;
  width: 367px;
  height: 34px;
}
.signup-confirm-password-div,
.signup-password-div,
.signup-signup-div {
  top: 843px;
}
.signup-confirm-password-div,
.signup-signup-div {
  top: 947px;
}
.signup-signup-div {
  top: 379px;
  left: 638px;
  font-size: var(--font-size-4xl);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-black);
  width: 197px;
  height: 96px;
}
.signup-rectangle-4-div {
  position: absolute;
  top: calc(50% - 128.5px);
  left: 492px;
  border-radius: var(--br-md);
  background-color: var(--color-gray-300);
  width: 514px;
  height: 67px;
}
.signup-name-div {
  position: absolute;
  top: 532px;
  left: 523px;
  display: inline-block;
  width: 367px;
  height: 34px;
}
.signup-rectangle-5-div {
  position: absolute;
  top: calc(50% - -82.5px);
  left: 492px;
  border-radius: var(--br-md);
  background-color: var(--color-blue-300);
  width: 514px;
  height: 67px;
}
.signup-phone-number-div {
  position: absolute;
  top: 739px;
  left: 523px;
  display: inline-block;
  width: 367px;
  height: 34px;
}
.signup-ellipse-10-icon,
.signup-ellipse-9-icon {
  position: absolute;
  top: 1153px;
  left: 677px;
  width: 50px;
  height: 50px;
}
.signup-ellipse-10-icon {
  top: 1152px;
  left: 765px;
}
.signup-facebook-icon,
.signup-google-1-icon {
  position: absolute;
  top: 1163px;
  left: 688px;
  width: 28px;
  height: 29px;
  object-fit: cover;
  cursor: pointer;
}
.signup-facebook-icon {
  top: 1162px;
  left: 775px;
  width: 31px;
  height: 31px;
}
.signup-line-3-div {
  position: absolute;
  top: 1120.5px;
  left: 467.5px;
  border-top: 1px solid var(--color-blue-100);
  box-sizing: border-box;
  width: 161px;
  height: 1px;
}
.signup-or-continue-with {
  position: absolute;
  top: 1067px;
  left: 662px;
  font-size: var(--font-size-2xs);
  line-height: 110px;
  font-weight: 600;
  color: var(--color-blue-100);
  display: inline-block;
}
.signup-line-4-div {
  position: absolute;
  top: 1120.5px;
  left: 862.5px;
  border-top: 1px solid var(--color-blue-100);
  box-sizing: border-box;
  width: 161px;
  height: 1px;
}
.span1 {
  color: var(--color-blue-200);
}
.signup-already-have-an-account1 {
  position: absolute;
  height: 100%;
  width: 75.31%;
  top: 0;
  right: 24.69%;
  bottom: 0;
  left: 0;
  display: inline-block;
}
.signup-already-have-an-account,
.signup-login-in-div {
  position: absolute;
  top: 1220px;
  left: 583px;
  width: 324px;
  height: 24px;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-700);
}
.signup-login-in-div {
  left: 830px;
  color: var(--color-blue-100);
  display: inline-block;
  width: 103px;
  height: 19px;
  cursor: pointer;
}
.signup-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1281px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-900);
  font-family: var(--font-inter);
}
