.adddetails-add-details-div {
  position: absolute;
  top: 132px;
  left: 103px;
  font-size: var(--font-size-2xl);
  line-height: 110px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-blue-200);
  text-align: left;
  display: inline-block;
}
.adddetails-tshirt-cart3-bicre-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.03);
  width: 1066.37px;
  height: 153px;
}
.adddetails-tshirt-cart3-bicre-icon {
  position: absolute;
  top: 68.34px;
  left: 216.84px;
  width: 35.66px;
  height: 19.64px;
  overflow: hidden;
}
.adddetails-tshirt-cart3-group3-div1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-blue-200);
  width: 125px;
  height: 32.47px;
}
.adddetails-tshirt-cart3-group3-div2 {
  position: absolute;
  top: 3px;
  left: 54px;
  color: var(--color-white);
  display: inline-block;
  width: 19.23px;
  height: 29.22px;
}
.adddetails-tshirt-cart3-group3-div3,
.adddetails-tshirt-cart3-group3-div4 {
  position: absolute;
  top: 5px;
  left: 17px;
  display: inline-block;
  width: 21.44px;
  height: 18.41px;
}
.adddetails-tshirt-cart3-group3-div4 {
  left: 94px;
  width: 12.02px;
  height: 19.48px;
}
.adddetails-tshirt-cart3-group3-div {
  position: absolute;
  top: 55px;
  left: 717px;
  width: 125px;
  height: 32.47px;
}
.adddetails-tshirt-cart3-group2-b {
  position: absolute;
  top: 4.03px;
  left: 0;
  line-height: 101.34%;
  display: inline-block;
  width: 331.86px;
  height: 34.66px;
}
.adddetails-tshirt-cart3-group2-b1 {
  position: absolute;
  top: 0;
  left: 590.91px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  color: var(--color-indigo);
  width: 233.53px;
  height: 41.59px;
}
.adddetails-tshirt-cart3-group2-div2 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 159.79px;
  height: 41.59px;
}
.adddetails-tshirt-cart3-group2-div1 {
  position: absolute;
  top: 6.04px;
  left: 280.78px;
  width: 159.79px;
  height: 41.59px;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-400);
}
.adddetails-tshirt-cart3-group2-div {
  position: absolute;
  top: 55.34px;
  left: 252.56px;
  width: 824.44px;
  height: 47.63px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.adddetails-tshirt-cart3-group1-icon {
  position: absolute;
  height: 72.89%;
  width: 8.04%;
  top: 16.96%;
  right: 79.69%;
  bottom: 10.15%;
  left: 12.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.adddetails-tshirt-cart3-div {
  position: absolute;
  top: 243px;
  left: 160px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1077px;
  height: 153px;
}
.adddetails-tshirt-cart2bicred-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.03);
  width: 1050.43px;
  height: 138px;
}
.adddetails-tshirt-cart2bicred-icon {
  position: absolute;
  top: 58.94px;
  left: 206.7px;
  width: 35.12px;
  height: 17.71px;
  overflow: hidden;
}
.adddetails-tshirt-cart2-group2-div1 {
  position: absolute;
  top: 1.11px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-blue-200);
  width: 114.15px;
  height: 22.14px;
}
.adddetails-tshirt-cart2-group2-div2 {
  position: absolute;
  top: 2.21px;
  left: 51.49px;
  color: var(--color-white);
  display: inline-block;
  width: 17.56px;
  height: 19.93px;
}
.adddetails-tshirt-cart2-group2-div3,
.adddetails-tshirt-cart2-group2-div4 {
  position: absolute;
  top: 0;
  left: 18.56px;
  font-size: var(--font-size-5xs);
  display: inline-block;
  width: 19.76px;
  height: 25.46px;
}
.adddetails-tshirt-cart2-group2-div4 {
  top: 3.32px;
  left: 86.61px;
  font-size: var(--font-size-9xs);
  width: 10.98px;
  height: 13.29px;
}
.adddetails-tshirt-cart2-group2-div {
  position: absolute;
  top: 48.12px;
  left: 707.31px;
  width: 114.15px;
  height: 25.46px;
}
.adddetails-tshirt-cart2-group1-b {
  position: absolute;
  top: 3.63px;
  left: 0;
  line-height: 101.34%;
  display: inline-block;
  width: 326.9px;
  height: 31.26px;
}
.adddetails-tshirt-cart2-group1-b1 {
  position: absolute;
  top: 0;
  left: 583.07px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  color: var(--color-indigo);
  width: 230.04px;
  height: 37.51px;
}
.adddetails-tshirt-group1men-div {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 157.4px;
  height: 37.51px;
}
.adddetails-tshirt-cart2-group1-div1 {
  position: absolute;
  top: 2.72px;
  left: 277.58px;
  width: 157.4px;
  height: 37.51px;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-400);
}
.adddetails-tshirt-cart2-group1-div {
  position: absolute;
  top: 47.21px;
  left: 240.89px;
  width: 813.11px;
  height: 40.23px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.adddetails-tshirt-cart2-div {
  position: absolute;
  top: 448px;
  left: 169px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1054px;
  height: 138px;
  font-size: var(--font-size-8xs);
}
.adddetails-tshirt-cart1-bicre-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.03);
  width: 1052.42px;
  height: 155px;
}
.adddetails-tshirt-cart1-bicre-icon {
  position: absolute;
  top: 66.2px;
  left: 207.09px;
  width: 35.19px;
  height: 19.9px;
  overflow: hidden;
}
.adddetails-tshirt-cart1-group2-div1 {
  position: absolute;
  top: 1.24px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-blue-200);
  width: 114.37px;
  height: 24.87px;
}
.adddetails-tshirt-cart1-group2-div2 {
  position: absolute;
  top: 0;
  left: 17.6px;
  display: inline-block;
  width: 19.79px;
  height: 28.6px;
}
.adddetails-tshirt-cart1-group2-div3,
.adddetails-tshirt-cart1-group2-div4 {
  position: absolute;
  top: 3.73px;
  left: 85.78px;
  font-size: var(--font-size-9xs);
  display: inline-block;
  width: 11px;
  height: 14.92px;
}
.adddetails-tshirt-cart1-group2-div4 {
  top: 2.49px;
  left: 50.59px;
  font-size: var(--font-size-8xs);
  color: var(--color-white);
  width: 17.59px;
  height: 22.38px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.adddetails-tshirt-cart1-group2-div {
  position: absolute;
  top: 54.05px;
  left: 709.66px;
  width: 114.37px;
  height: 28.6px;
}
.adddetails-tshirt-cart1-group1-b {
  position: absolute;
  top: 4.08px;
  left: 0;
  line-height: 101.34%;
  display: inline-block;
  width: 327.52px;
  height: 35.11px;
}
.adddetails-tshirt-cart1-group1-b1 {
  position: absolute;
  top: 0;
  left: 583.18px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  color: var(--color-indigo);
  width: 230.48px;
  height: 42.13px;
}
.adddetails-tshirt-cart1-group1-div2 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 157.7px;
  height: 42.13px;
}
.adddetails-tshirt-cart1-group1-div1 {
  position: absolute;
  top: 3.06px;
  left: 277.11px;
  width: 157.7px;
  height: 42.13px;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-400);
}
.adddetails-tshirt-cart1-group1-div {
  position: absolute;
  top: 53.03px;
  left: 242.35px;
  width: 813.65px;
  height: 45.19px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.adddetails-tshirt-cart1-div {
  position: absolute;
  top: 619px;
  left: 167px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1056px;
  height: 155px;
  font-size: var(--font-size-5xs);
}
.adddetails-003-pants-icon,
.adddetails-005-dress-icon {
  position: absolute;
  top: 477px;
  left: 296px;
  width: 76px;
  height: 89px;
  overflow: hidden;
}
.adddetails-005-dress-icon {
  top: 634px;
  width: 74px;
  height: 119px;
}
.adddetails-tshirt-cart-rectang-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.03);
  width: 1046.44px;
  height: 153px;
}
.adddetails-tshirt-cart-bicred-icon {
  position: absolute;
  top: 65.34px;
  left: 205.92px;
  width: 34.99px;
  height: 19.64px;
  overflow: hidden;
}
.adddetails-tshirt-cart-group2r-div {
  position: absolute;
  top: 1.23px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-blue-200);
  width: 113.72px;
  height: 24.55px;
}
.adddetails-tshirt-cart-group2-div {
  position: absolute;
  top: 0;
  left: 17.5px;
  display: inline-block;
  width: 19.68px;
  height: 28.23px;
}
.adddetails-tshirt-cart-group2-div1,
.adddetails-tshirt-cart-group24-div {
  position: absolute;
  top: 3.68px;
  left: 85.29px;
  font-size: var(--font-size-9xs);
  display: inline-block;
  width: 10.93px;
  height: 14.73px;
}
.adddetails-tshirt-cart-group24-div {
  top: 2.46px;
  left: 50.3px;
  font-size: var(--font-size-8xs);
  color: var(--color-white);
  width: 17.5px;
  height: 22.09px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.adddetails-tshirt-cart-group1g-div {
  position: absolute;
  top: 53.35px;
  left: 705.63px;
  width: 113.72px;
  height: 28.23px;
}
.adddetails-tshirt-cart-group1c-b {
  position: absolute;
  top: 4.03px;
  left: 0;
  line-height: 101.34%;
  display: inline-block;
  width: 325.66px;
  height: 34.66px;
}
.adddetails-tshirt-cart-group13-b {
  position: absolute;
  top: 0;
  left: 578.86px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  color: var(--color-indigo);
  width: 229.17px;
  height: 41.59px;
}
.adddetails-tshirt-cart-group1w-div {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 156.8px;
  height: 41.59px;
}
.adddetails-tshirt-cart-group1m-div {
  position: absolute;
  top: 3.02px;
  left: 275.53px;
  width: 156.8px;
  height: 41.59px;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-400);
}
.adddetails-tshirt-cart-group1-div {
  position: absolute;
  top: 52.34px;
  left: 240.97px;
  width: 808.03px;
  height: 44.61px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.adddetails-tshirt-cart-div {
  position: absolute;
  top: 816px;
  left: 169px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1049px;
  height: 153px;
  font-size: var(--font-size-5xs);
}
.adddetails-rectangle-2-div {
  position: absolute;
  top: 1033px;
  left: 475px;
  border-radius: var(--br-xl);
  background-color: var(--color-blue-200);
  width: 493px;
  height: 70px;
}
.adddetails-complete-order-b {
  position: absolute;
  top: 1049px;
  left: 617px;
  font-size: var(--font-size-base);
  display: inline-block;
  color: var(--color-gray-100);
  width: 217px;
  cursor: pointer;
}
.adddetails-004-cardigan-icon {
  position: absolute;
  top: 848px;
  left: 300px;
  width: 77px;
  height: 86px;
  overflow: hidden;
}
.adddetails-rectangle-48-icon {
  position: absolute;
  top: 491px;
  left: 873px;
  border-radius: var(--br-xl);
  width: 125px;
  height: 32.47px;
}
.adddetails-3-div,
.adddetails-3-div1,
.adddetails-4-2-div {
  position: absolute;
  top: 496px;
  left: 966px;
  display: inline-block;
  width: 12.02px;
  height: 19.48px;
}
.adddetails-3-div1,
.adddetails-4-2-div {
  left: 925px;
  color: var(--color-white);
  width: 19.23px;
  height: 29.22px;
}
.adddetails-3-div1 {
  left: 890px;
}
.adddetails-rectangle-48-icon1 {
  position: absolute;
  top: 671px;
  left: 866px;
  border-radius: var(--br-xl);
  width: 125px;
  height: 32.47px;
}
.adddetails-2-div,
.adddetails-2-div1,
.adddetails-4-1-div {
  position: absolute;
  top: 676px;
  left: 960px;
  display: inline-block;
  width: 12.02px;
  height: 19.48px;
}
.adddetails-2-div1,
.adddetails-4-1-div {
  left: 918px;
  color: var(--color-white);
  width: 19.23px;
  height: 29.22px;
}
.adddetails-2-div1 {
  left: 883px;
}
.adddetails-rectangle-48-icon2 {
  position: absolute;
  top: 868px;
  left: 864px;
  border-radius: var(--br-xl);
  width: 125px;
  height: 32.47px;
}
.adddetails-1-div,
.adddetails-1-div1,
.adddetails-4-div {
  position: absolute;
  top: 873px;
  left: 959px;
  display: inline-block;
  width: 12.02px;
  height: 19.48px;
}
.adddetails-1-div1,
.adddetails-4-div {
  left: 917px;
  color: var(--color-white);
  width: 19.23px;
  height: 29.22px;
}
.adddetails-1-div1 {
  left: 882px;
}
.washaholic-logo-icon9 {
  position: absolute;
  top: 25px;
  left: 45px;
  width: 88px;
  height: 102px;
  object-fit: cover;
}
.about-us-div9,
.home-div9 {
  position: relative;
  display: inline-block;
}
.home-div9 {
  color: var(--color-blue-100);
}
.about-us-div9 {
  cursor: pointer;
}
.navbar-frame-div9 {
  position: absolute;
  top: 61px;
  left: 502px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.login-div9,
.washaholic-div9 {
  position: absolute;
  display: inline-block;
}
.washaholic-div9 {
  top: 38px;
  left: 133px;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.1em;
  line-height: 70px;
  font-family: var(--font-inria-serif);
  color: var(--color-blue-200);
}
.login-div9 {
  top: 9px;
  left: 43px;
  font-weight: 600;
}
.header-login-button-div9 {
  position: absolute;
  top: 52px;
  left: 1233px;
  border-radius: var(--br-3xl);
  background-color: var(--color-blue-100);
  width: 153px;
  height: 48px;
  overflow: hidden;
  cursor: pointer;
  color: var(--color-white);
}
.add-details-div,
.header-div9 {
  background-color: var(--color-white);
  overflow: hidden;
}
.header-div9 {
  position: absolute;
  top: 0;
  left: 11px;
  width: 1440px;
  height: 151px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.add-details-div {
  position: relative;
  width: 100%;
  height: 1219px;
  text-align: center;
  font-size: var(--font-size-4xs);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}
