.search1-rectangle-19-div {
  position: absolute;
  top: 187px;
  left: 62px;
  border-radius: var(--br-lg);
  background-color: var(--color-blue-500);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1320px;
  height: 52px;
}
.search1-search-interface-symbo-icon {
  position: absolute;
  top: 198px;
  left: 91px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.search1-abc-div {
  position: absolute;
  top: 198px;
  left: 147px;
  display: inline-block;
}
.search1-feathersearch-icon {
  position: absolute;
  top: 441px;
  left: 623px;
  width: 122px;
  height: 122px;
  overflow: hidden;
}
.search1-item-not-found {
  position: absolute;
  height: 3.2%;
  width: 21.39%;
  top: 54.48%;
  right: 39.93%;
  bottom: 42.32%;
  left: 38.68%;
  font-size: 28px;
  display: inline-block;
  text-align: center;
}
.try-searching-the {
  margin-block-start: 0;
  margin-block-end: 0;
}
.a-different-keyword {
  margin: 0;
}
.search1-try-searching-the-item {
  position: absolute;
  height: 4.9%;
  width: 15.97%;
  top: 59.1%;
  right: 42.64%;
  bottom: 36%;
  left: 41.39%;
  font-size: 17px;
  font-family: var(--font-poppins);
  text-align: center;
  display: inline-block;
  opacity: 0.57;
}
.washaholic-logo-icon4 {
  position: absolute;
  top: 25px;
  left: 45px;
  width: 88px;
  height: 102px;
  object-fit: cover;
}
.about-us-div4,
.home-div4 {
  position: relative;
  display: inline-block;
}
.home-div4 {
  color: var(--color-blue-100);
}
.about-us-div4 {
  cursor: pointer;
}
.navbar-frame-div4 {
  position: absolute;
  top: 61px;
  left: 502px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.login-div4,
.washaholic-div4 {
  position: absolute;
  display: inline-block;
}
.washaholic-div4 {
  top: 38px;
  left: 133px;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.1em;
  line-height: 70px;
  font-family: var(--font-inria-serif);
  color: var(--color-blue-200);
}
.login-div4 {
  top: 9px;
  left: 43px;
  font-weight: 600;
}
.header-login-button-div4 {
  position: absolute;
  top: 52px;
  left: 1233px;
  border-radius: var(--br-3xl);
  background-color: var(--color-blue-100);
  width: 153px;
  height: 48px;
  overflow: hidden;
  cursor: pointer;
  color: var(--color-white);
}
.header-div4,
.search1-div {
  background-color: var(--color-white);
  overflow: hidden;
}
.header-div4 {
  position: absolute;
  top: 0;
  left: 11px;
  width: 1440px;
  height: 151px;
}
.search1-div {
  position: relative;
  width: 100%;
  height: 1061px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
